@page "/leaderboard"
@inject ILeaderboardService LeaderboardService
@inject AuthenticationStateProvider AuthStateProvider
@inject IBattleService BattleService
@inject IBananaService BananaService
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<h3>Leaderboard</h3>

@if (LeaderboardService.Leaderboard == null)
{

    <span>Loading...</span>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>User</th>
                <th>Victories</th>
                <th>Defeats</th>
                <th>Battles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in LeaderboardService.Leaderboard)
            {
                <tr style="@GetMyStyle(item.UserId)">
                    <td>@item.Rank</td>
                    <td>@item.Username</td>
                    <td>@item.Victories</td>
                    <td>@item.Defeats</td>
                    <td>@item.Battles</td>

                    <td>
                        @if (item.UserId != myUserId)
                        {
                            <button class="btn btn-primary" @onclick="@(()=> StartBattle(item.UserId))">Fight!</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    int myUserId;

    protected override async Task OnInitializedAsync()
    {
        await LeaderboardService.GetLeaderboard();

        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        myUserId = int.Parse(authState.User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier).Value);

    }

    public string GetMyStyle(int userId)
    {
        if (userId == myUserId)
            return "color:green; font-weight:600;";
        else
            return string.Empty;
    }

    public async Task StartBattle(int opponentId)
    {
        Console.WriteLine($"Start battle with {opponentId}.");
        var result = await BattleService.StartBattle(opponentId);
        if (result.RoundsFought <= 0)
            ToastService.ShowInfo("The battle did not take place.");
        else if (result.IsVictory)
            ToastService.ShowSuccess("You won the Battle!");
        else
            ToastService.ShowWarning("You have been destroyed!");

        await LeaderboardService.GetLeaderboard();
        await BananaService.GetBananas();

        if (result.RoundsFought > 0)
            NavigationManager.NavigateTo("battlelog");
    }
}